<template>
  <el-form :model="local" ref="local" :rules="localSettingRules" label-position="left" label-width="100px" class="small_block">
      <el-form-item label="Listen" prop="listen">
          <el-input size="small" v-model="local.listen" @change="localNeedSave = true"></el-input>
      </el-form-item>
      <el-form-item label="Port" prop="port">
          <el-input size="small" v-model.number="local.port" @change="localNeedSave = true"></el-input>
      </el-form-item>
      <el-form-item label="Timeout" prop="timeout">
          <el-input size="small" v-model.number="local.timeout" @change="localNeedSave = true" placeholder="Connection idle timeout In Seconds">
          </el-input>
      </el-form-item>
      <el-form-item>
          <el-button type="primary" @click="saveLocal(local)" :disabled="!localNeedSave">Save</el-button>
          <el-button @click="resetLocal(local)" :disabled="!localNeedSave">Reset</el-button>
      </el-form-item>
  </el-form>
</template>

<script>
export default {
  name: "LocalSetting",
  data() {
    return {
      local: {},
      localNeedSave: false,

      localSettingRules: {
        listen: [{ required: true, trigger: "blur" }],
        port: [
          {
            type: "integer",
            required: true,
            min: 0,
            max: 65535,
            trigger: "blur"
          }
        ],
        timeout: [{ type: "integer", required: true, min: 1, trigger: "blur" }]
      }
    };
  },
  mounted: function() {
    this.localController = this.$getRpcController("local");
    this.loadLocalConfig();
  },
  methods: {
    loadLocalConfig: function() {
      this.localController
        .getLocalProxy()
        .then(data => {
          this.local = data;
        })
        .catch(e => {
          this.$showError(e.message);
        });
    },
    saveLocal: function(local) {
      this.localController
        .saveLocalProxy(local)
        .then(data => {
          this.loadLocalConfig();
          this.localNeedSave = false;
        })
        .catch(e => {
          this.$showError(e.message);
        });
    },
    resetLocal: function() {
      this.loadLocalConfig();
      this.localNeedSave = false;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
