<template>
    <el-dialog title="Set Proxy Server" :visible.sync="show" size="tiny">
        <el-form :model="server" ref="server" :rules="proxySettingRules" label-position="left" label-width="100px">
            <el-form-item label="Type" prop="type">
                <el-select v-model="server.type" placeholder="Proxy Server Type" @change="setUserLabelName(server.type)">
                    <el-option label="socks" value="socks"></el-option>
                    <el-option label="shadowsocks" value="shadowsocks"></el-option>
                    <el-option label="http" value="http"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="Host" prop="host">
                <el-input size="small" v-model="server.host"></el-input>
            </el-form-item>
            <el-form-item label="Port" prop="port">
                <el-input size="small" v-model.number="server.port"></el-input>
            </el-form-item>
            <el-form-item :label="userLabelName">
                <el-input size="small" v-model="server.user"></el-input>
            </el-form-item>
            <el-form-item label="Password">
                <el-input size="small" v-model="server.password"></el-input>
            </el-form-item>
            <el-form-item label="Enable">
                <el-switch v-model="server.enable"></el-switch>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitProxyServer(server)">Save</el-button>
                <el-button @click="show = false">Cancel</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
</template>

<script>
export default {
  name: "ProxyEditor",
  props: ["server", "show"],
  data() {
    return {
      userLabelName: "User",

      proxySettingRules: {
        type: [{ required: true, trigger: "blur" }],
        host: [{ required: true, trigger: "blur" }],
        port: [
          {
            type: "integer",
            required: true,
            min: 0,
            max: 65535,
            trigger: "blur"
          }
        ]
      }
    };
  },
  mounted: function() {
    this.proxyContorller = this.$getRpcController("proxy");
  },
  methods: {
    submitProxyServer: function(server) {
      this.$refs["server"].validate(valid => {
        if (!valid) {
          return false;
        }
        let promise =
          server.id == -1
            ? this.proxyContorller.addProxy(server)
            : this.proxyContorller.updateProxy(server);

        promise
          .then(data => {
            this.show = false;
            this.$emit("submit");
          })
          .catch(e => {
            this.$showError(e.message);
          });
      });
    },

    setUserLabelName: function(type) {
      if (type == "shadowsocks") {
        this.userLabelName = "Method";
      } else {
        this.userLabelName = "User";
      }
    }
  }
};
</script>

<style scoped>

</style>
