<template>
<div>
    <el-table :data="servers" stripe border>
        <el-table-column label="Enable" min-width="100">
            <template scope="scope">
                <el-switch @change="enableServer(scope.row)" v-model="scope.row.enable"></el-switch>
            </template>
        </el-table-column>
        <el-table-column prop="type" label="Type" min-width="160"></el-table-column>
        <el-table-column prop="host" label="Host" min-width="200"></el-table-column>
        <el-table-column prop="port" label="Port" min-width="80"></el-table-column>
        <el-table-column label="Edit" min-width="200">
            <template scope="scope">
                <el-button type="primary" size="small" @click="editServer(scope.row)">Edit</el-button>
                <el-button type="danger" size="small" @click="deleteServer(scope.row.id)">Delete</el-button>
            </template>
        </el-table-column>
    </el-table>
    <div class="row">
        <el-button type="primary" @click="addServer">Add Proxy Server</el-button>
    </div>

    <ProxyEditor :server="server" :show="showProxyEditor" @submit="showProxyEditor=false;loadServers()"></ProxyEditor>
</div>
</template>

<script>
import ProxyEditor from "./ProxyEditor";

export default {
  name: "ProxyList",
  components: {
    ProxyEditor
  },
  data() {
    return {
      servers: [],
      showProxyEditor: false,
      server: {},
      userLabelName: "User",

      proxySettingRules: {
        type: [{ required: true, trigger: "blur" }],
        host: [{ required: true, trigger: "blur" }],
        port: [
          {
            type: "integer",
            required: true,
            min: 0,
            max: 65535,
            trigger: "blur"
          }
        ]
      }
    };
  },
  mounted: function() {
    this.proxyContorller = this.$getRpcController("proxy");
    this.loadServers();
  },
  methods: {
    loadServers: function() {
      this.proxyContorller
        .getProxies()
        .then(data => {
          this.servers = data;
        })
        .catch(e => {
          this.$showError(e.message);
        });
    },
    enableServer: function(server) {
      this.proxyContorller
        .updateProxy(server)
        .then(data => {
          this.loadServers();
        })
        .catch(e => {
          this.$showError(e.message);
        });
    },
    deleteServer: function(id) {
      this.proxyContorller
        .deleteProxy(id)
        .then(data => {
          this.loadServers();
        })
        .catch(e => {
          this.$showError(e.message);
        });
    },
    editServer: function(server) {
      this.server = server;
      this.showProxyEditor = true;
      this.setUserLabelName(server.type);
    },
    addServer: function() {
      this.server = {
        id: -1,
        type: "socks",
        host: "",
        port: 1080,
        user: "",
        password: "",
        enable: false
      };
      this.showProxyEditor = true;
    }
  }
};
</script>

<style scoped>
.row {
  margin-top: 10px;
}
</style>
