<template>
  <div id="app" class="main_body">
    <LocalSetting></LocalSetting>
    <ProxyList></ProxyList>
  </div>
</template>

<script>
import LocalSetting from "./components/LocalSetting";
import ProxyList from "./components/ProxyList";

export default {
  name: "app",
  components: {
    LocalSetting,
    ProxyList
  },
  data() {
    return {};
  }
};
</script>

<style>
#app {
  margin-top: 50px;
  margin: 0 auto;
  max-width: 800px;
}
</style>
